.kettle {
  stroke: #FFF;
  stroke-width: 4pt;
  stroke-linecap: round;
  fill: none;
}

.kettleFill {
  transform: scaleY(0.5);
  transform-origin: 0 300px;
}

.temp,
.liters,
.fridgetext,
.bottlename {
  fill: #FFF;
  stroke-width: 8;
  stroke: #24333D;
  paint-order: stroke;
  text-align: right;
  stroke-linejoin: round;
}

.temp {
  font-weight: bold;
  font-size: 40px;
}

.volume {
  font-size: 30px;
  font-weight: normal;
}
