.kettleContainer {
  position: relative;
  display: inline-block;
}

.kettle {
  position: absolute;
  display: block;
  stroke: #FFF;
  border: solid 4px #FFF;
  border-radius: 8px;
  z-index: 3;
}

.kettleFill,
.grain {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 4px;
  border-radius: 4px;
  transition-duration: 1s;
}

.kettleFill {
  z-index: 1;
  background: gray;
}

.grain {
  background:
    url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAA3UlEQVQoU22QMQ6CQBRE/7aeQG+gtZzAE2hrR0JYIw2lmhBNKKSTBuMiyXbUnkAvALXcAE9gi5mf3WQLSUj+wvx5MyveD39Id9qrO2qft2ggIqryQhJRi2/rKc2TzG8EBlc0GX8Ji0EcNZhnS80aARc4BHGkrOjPooQ6dDCYCUuLTcEmJoonMBhXxlV5wXmBI+KXs7Jjkvmq/4xQgkUoaM8okh70iYPiYH5IuwSSi2e0iwHeiuyNcOuX2h7vl2sPJxqoTPe6hNA8oCnMwl54cvbD2UpLZK47KlHQRf8AQAKXY5Ve76gAAAAASUVORK5CYII=
    ) repeat;
  height: 100px;
  z-index: 2;
}

.volume {
  text-shadow: 0 0 1px #24333D, 0 0 2px #24333D, 0 0 3px #24333D, 0 0 4px #24333D;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  top: 10px;
  right: 15px;
  z-index: 2;
}

