.element,
.display {
  stroke: #FFF;
  stroke-width: 2pt;
  stroke-linecap: round;
  fill: none;
}

.element {
  stroke-width: 4pt;
}

.root {
  position: relative;
}

.value {
  text-align: center;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  width: 40px;
  height: 35px;
  top: 17px;
  left: 10px;
  position: absolute;
  display: block;
}

.unflip {
  transform: scaleX(-1);
}
