.lines {
  stroke: #FFF;
  stroke-width: 2pt;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.fridgeContainer {
  position: relative;
  width: 250px;
  height: 600px;
}

.fridgeCompartment {
  border: solid 1pt #FFF;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fridgeName,
.setpoint {
  fill: #FFF;
  stroke-width: 8;
  stroke: #24333D;
  paint-order: stroke;
  text-align: right;
  stroke-linejoin: round;
}

.fanHousing,
.fanBlades {
  fill: white;
}

.fridgeName,
.setpoint,
.cooler,
.heater {
  font-size: 20px;
}

.fridgeTop {
  height: 50px;
}

.fridgeMiddle {
  height: 475px;
}

.fridgeBottom {
  position: relative;
  height: 75px;
}

.fridgeName {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
}

.setpoint {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
}

.temp {
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  right: 10px;
}

.divCooler,
.divHeater {
  padding: 10px;
}

.divCooler {
  position: absolute;
  width: 50%;
  height: 75px;
  left: 0;
  bottom: 0;
  border-right: solid 1px;
}

.divHeater {
  position: absolute;
  width: 50%;
  height: 75px;
  right: 0;
  bottom: 0;
}

.motor {
  fill: #FFF;
}

.powerOff {
  color: #222;
}

.powerOn {
  color: #E1AC00;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotateOff {
  transform-origin: 25px 25px;
}

.rotateFast {
  animation: rotating 1s linear infinite;
  transform-origin: 25px 25px;
}

.rotateSlow {
  animation: rotating 2s linear infinite;
  transform-origin: 25px 25px;
}

