.flames {
  fill: none;
  transform-origin: center bottom;
}

.flame {
  animation-name: flame;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  transform-origin: center bottom;
}

.burner {
  stroke: #FFF;
  stroke-width: 2pt;
  stroke-linecap: round;
  fill: none;
}

@keyframes flame {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.3, 1.3);
  }
}

.Burner {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}
