.powerOff {
  color: #222;
}

.powerOn {
  color: #E1AC00;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotatingCC {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.rotateOff,
.rotateFast,
.rotateSlow {
  transform-origin: 25px 25px;
}

.rotateFast.clockwise {
  animation: rotating 1s linear infinite;
}

.rotateFast.counterClockwise {
  animation: rotatingCC 1s linear infinite;
}

.rotateSlow.clockwise {
  animation: rotating 4s linear infinite;
}

.rotateSlow.counterClockwise {
  animation: rotatingCC 4s linear infinite;
}

