.header > * {
  padding: 10px;
  display: block;
  float: left;
  margin: 0;
}

.stepSelect {
  padding: 10px;
  display: block;
  float: right;
  clear: none;
}

.processView {
  margin: auto;
  display: inline-block;
}
