.header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title {
  margin: auto;
}

.title > * {
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.viewName {
  font-weight: bold;
}

.headerCenter {
  align-self: center;
  min-width: 700px;
}

.headerLeft {
  align-self: center;
}

.headerRight {
  align-self: center;
}

.stepSelect {
  padding: 10px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content > * {
  margin: 10px;
}

.notes {
  width: 300px;
  padding: 10px 20px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  min-height: 200px;
  display: inline-block;
}

.notes > ul {
  padding: 0 20px;
}

.notes > ul > li {
  padding: 5px 0;
}

:global body {
  background-color: #24333D;
}
