.tube {
  stroke: #FFF;
  stroke-width: 2pt;
  fill: none;
}

.liquid {
  fill: none;
  stroke-width: 5pt;
}

.ball {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2pt;
  transform-origin: 25px 25px;
  transition-duration: 1s;
}

.rotate_90 {
  transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
}

.rotate_270 {
  transform: rotate(270deg);
}

.powerClosing {
  color: #F53;
}

.powerOpening {
  color: #5C5;
}

.powerIcon {
  fill: #000;
}

.ballOpen {
  transform: rotate(0deg);
}

.ballMidway {
  transform: rotate(45deg);
}

.ballClosed {
  transform: rotate(90deg);
}

.id {
  position: absolute;
  right: 1px;
  bottom: 0;
  width: 100%;
  text-align: right;
  font-size: 10px;
}

.Valve {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.variant1 {
  transform-origin: 25px 25px;
  transform: rotate(0deg);
}

.variant2 {
  transform-origin: 25px 25px;
  transform: rotate(90deg);
}

.variant3 {
  transform-origin: 25px 25px;
  transform: rotate(180deg);
}

.variant4 {
  transform-origin: 25px 25px;
  transform: rotate(270deg);
}
