.tube {
  stroke: #FFF;
  stroke-width: 2pt;
  fill: none;
}

.liquid {
  fill: none;
  stroke-width: 5pt;
}

.ball {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2pt;
}

.rotate_90 {
  transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
}

.rotate_270 {
  transform: rotate(270deg);
}

.powerClosing {
  color: #F53;
}

.powerOpening {
  color: #5C5;
}

.powerIcon {
  color: black;
}

.ballMidway {
  transform-origin: 25px 25px;
  transform: rotate(45deg);
}

.ballClosed {
  transform-origin: 25px 25px;
  transform: rotate(90deg);
}
