.ProcessView {
  background: #24333D;
  font-family: sans-serif;
  font-size: 12px;
  color: #FFF;
  width: 100%;
  overflow: scroll;
}

.tiles {
  text-align: center;
  min-height: 60vh;
  display: block;
}

.row {
  float: left;
  clear: left;
  display: table;
}
