.tube {
    stroke: #fff;
    stroke-width: 2pt;
    stroke-linecap: round;
    fill: none;
}

.rotate_90 {
  transform: rotate(90deg);
}

.rotate_180 {
  transform: rotate(180deg);
}

.rotate_270 {
  transform: rotate(270deg);
}

.powerClosing {
  color: #f53;
}

.powerOpening {
  color: #5c5;
}

.powerIcon {
  color: black;
}

.ballMidway {
  transform-origin: 25px 25px;
  transform: rotate(45deg);
}

.ballClosed {
  transform-origin: 25px 25px;
  transform: rotate(90deg);
}
